.App {
  text-align: center;
}

.first {
  background-color: #F05D5E;
}

.second {
  background-color: #4392F1;
}

.third {
  background-color: #5BC0EB;
}

.fourth {
  background-color: #5DD9C1;
}

.fifth {
  background-color: #73FBD3;
}

.six {
  background-color: #FC9F5B;
}
