.App {
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*header*/

.header {
	height: 50px;
	flex-basis: 100%;
	background-color: white;
	text-align: left;
	color: #07C199;
	font-family: "Abel";
	font-size: 24pt;
	line-height: 45px;
	padding-left: 10px;
	border: 1px solid #dddddd;
}

/* sources */ 

.source-list {
	flex-basis: 100%;
	height: 150px;
	top: 30px;
	left: 0;
	background-color: white;
	overflow: scroll;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 2;
	flex-direction: row;
}

.source-list ul {
	margin-top: 5px;
	margin-left: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	z-index: 1;
	
}

.source-list li {
	margin: auto;
	width: 20%;
	margin-top: 10px;
	margin-bottom: 12px;
	color: white;
	font-weight: bold;
	flex: 1 0 auto;
	z-index: 1;
}

.source {
	text-decoration: none;
	border: none;
	color: white;
	font-family: Avenir Next;
	font-weight: 500;
	font-size: 14pt;
	cursor: pointer;
	border-radius: 50%;
}


#third {
	height: 100px;
	width:100px;
  	background-color: #9BCE8E;
}

#eia {
	height: 100px;
	width: 100px;
  	background-color: #F87060;
}

#guardian {
	height: 100px;
	width: 100px;
  	background-color: #F9A03F;
}

#fourth {
	height: 100px;
	width: 100px;
  	background-color: #FF8787;
}

#fifth {
	height: 100px;
	width: 100px;
  	background-color: #07C199;
}

#sixth {
	height: 100px;
	width: 100px;
  	background-color: #DD2D4A;
}

#seventh {
	height: 100px;
	width: 100px;
  	background-color: #FFC857;
}

#eighth {
	height: 100px;
	width: 100px;
  	background-color: #118AB2;
}

.inner-body {
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
}

/*article list */

.article-list {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	height: 100vh;
	top: 30px;
	left: 0;
	background-color: #fff;
	overflow: scroll;
	border: 1px solid #dddddd;
	border-top: none !important;
	border-bottom: none !important;
}

.article-list ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.article-list li {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 0px;
	padding: 0px 0;
	color: #000;
	font-weight: bold;
	text-align: left;
	background-color: #fff;
	border-bottom: 0.5px solid #dddddd;

}

.story-container {
	background-color: white;
}

.story-container:hover {
	opacity: 0.7;
	cursor: pointer;
}

.story {
	padding-left: 10px;
	color: black;
	font-family: Avenir Next;
	font-size: 14pt;
}

.story:hover {
	opacity: 0.70;
	cursor: pointer;
}

.story-title {
	margin-top: 12px;
	padding-left: 10px;
	color: black;
	font-size: 14px;
	font-style: bold;
}

.time {
	margin: 3px 0px 7px 10px;
	color: #9999A1;
	opacity: .7;
	font-size: 11px;
	font-weight: lighter;
	font-family: 'Mukta', sans-serif;
}

.story-share {
	margin-top: 25px;
	margin-right: 15px;
	float: right;
	width: 15px;
	height: 15px;
	visibility: hidden;
}

/*reader*/ 

.reader {
	/*flex-wrap: wrap;*/
	justify-content: flex-start;
	flex: 1 0 75%;
	height: 100vh;
	/*width: 75%;*/
	background-color: #fff;
	font-family: Avenir Next;
	padding: 0;
}

.article {
	height: 100%;
	width: 100% !important;
}




























/*
.progressBar{
	width: 100%;
	background-color: white;
}

.progressBar-inactive{
	display: none;
}

.bar {
	width: 1%;
	height: 2px;
	background-color: #07C199
}

.break {
	clear: both;
}

*/